absl-py==0.7.1
alabaster==0.7.12
alembic==1.4.1
algorithmx==1.0.0
amqp==2.5.0
anaconda-client==1.7.2
anaconda-navigator==1.9.7
anaconda-project==0.8.3
aniso8601==7.0.0
appnope==0.1.0
appscript==1.0.1
asn1crypto==1.3.0
astor==0.8.0
astroid==2.2.5
astropy==3.2.1
atomicwrites==1.3.0
attrs==19.3.0
Automat==0.7.0
automl-gs==0.2.1
autopep8==1.4.4
Babel==2.8.0
backcall==0.1.0
backports.functools-lru-cache==1.5
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
bayesian-optimization==1.0.1
beautifulsoup4==4.8.2
billiard==3.6.0.0
bitarray==1.2.1
bkcharts==0.2
bleach==3.1.0
blinker==1.4
bokeh==1.3.0
boto==2.49.0
boto3==1.12.0
botocore==1.15.0
Bottleneck==1.2.1
branca==0.4.0
bz2file==0.98
CacheControl==0.12.6
cachetools==3.1.1
catboost==0.20.2
celery==4.3.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
chart-studio==1.0.0
Click==7.0
cloudpickle==1.3.0
clyent==1.2.2
colorama==0.4.3
colorlover==0.3.0
common==0.1.2
conda==4.8.2
conda-build==3.18.5
conda-package-handling==1.6.0
conda-verify==3.4.2
ConfigSpace==0.4.10
confuse==1.0.0
constantly==15.1.0
contextlib2==0.6.0.post1
convertdate==2.1.3
cryptography==2.8
cssselect==1.0.3
cufflinks==0.15
cvxopt==1.2.3
cycler==0.10.0
Cython==0.28.5
cytoolz==0.10.1
dash==1.2.0
dash-auth==1.3.2
dash-bootstrap-components==0.7.0
dash-core-components==1.1.2
dash-daq==0.1.7
dash-html-components==1.0.1
dash-renderer==1.0.1
dash-resumable-upload==0.0.3
dash-table==4.2.0
dash-table-experiments==0.6.0
dask==2.1.0
DateTime==4.3
deap==1.3.0
decorator==4.4.0
defusedxml==0.6.0
distributed==2.1.0
docopt==0.6.2
docutils==0.15.2
dominate==2.3.5
dtw==1.3.3
echarts-china-cities-pypkg==0.0.9
echarts-china-provinces-pypkg==0.0.3
echarts-countries-pypkg==0.1.6
entrypoints==0.3
ephem==3.7.7.0
et-xmlfile==1.0.1
Faker==1.0.7
fastcache==1.1.0
fastdtw==0.3.2
fasttext==0.9.1
fbprophet==0.5
featuretools==0.10.1
ffmpeg==1.4
filelock==3.0.12
Flask==1.1.1
Flask-Bootstrap==3.3.7.1
Flask-Caching==1.7.2
Flask-Compress==1.4.0
Flask-Cors==3.0.8
Flask-Login==0.4.1
Flask-Migrate==2.5.3
Flask-RESTful==0.3.7
flask-restplus==0.13.0
Flask-Script==2.0.6
Flask-SeaSurf==0.2.2
Flask-SQLAlchemy==2.4.0
folium==0.10.1
fsspec==0.5.1
future==0.18.2
gast==0.2.2
gensim==3.4.0
gevent==1.4.0
glob2==0.7
gmpy2==2.0.8
google-auth==1.9.0
google-auth-oauthlib==0.4.1
google-pasta==0.1.7
graphviz==0.10.1
greenlet==0.4.15
grpcio==1.22.0
gunicorn==19.9.0
h2o==3.26.0.4765
h5py==2.9.0
hdmedians==0.13
HeapDict==1.0.1
holidays==0.9.10
html2text==2018.1.9
html5lib==1.0.1
htmlmin==0.1.12
hupper==1.3
hyperlink==19.0.0
hyperopt==0.1.2
idna==2.8
imageio==2.5.0
imagesize==1.2.0
impala==0.2
importlib==1.0.4
importlib-metadata==1.5.0
incremental==17.5.0
ipdb==0.12
ipykernel==5.1.1
ipyparallel==6.2.4
ipython==7.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.20
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.16.0
jieba==0.39
Jinja2==2.10.1
jmespath==0.9.4
joblib==0.14.1
json2html==1.3.0
jsonschema==3.0.1
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.1
jupyterlab==0.35.5
jupyterlab-server==0.2.0
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==21.1.0
kiwisolver==1.1.0
kmodes==0.10.1
kombu==4.6.0
lazy-object-proxy==1.4.3
liac-arff==2.4.0
libarchive-c==2.8
lief==0.9.0
lightgbm==2.2.3
llvmlite==0.29.0
lml==0.0.9
locket==0.2.0
lockfile==0.12.2
lunardate==0.2.0
lxml==4.5.0
Mako==1.1.2
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.3
mccabe==0.6.1
missingno==0.4.2
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mlbox==0.8.2
mock==4.0.1
more-itertools==8.2.0
mpmath==1.1.0
msgpack==0.6.1
multipledispatch==0.6.0
natsort==7.0.1
navigator-updater==0.2.1
nbconvert==5.5.0
nbformat==4.4.0
networkx==2.3
nltk==3.2.5
nose==1.3.7
notebook==5.7.8
numba==0.45.0
numexpr==2.6.9
numpy==1.18.4
numpydoc==0.9.1
oauthlib==3.1.0
olefile==0.46
opencv-python==4.1.0.25
openpyxl==3.0.3
opt-einsum==3.1.0
optional-django==0.3.0
packaging==20.1
pandas==1.0.1
pandas-datareader==0.7.0
pandas-profiling==2.3.0
pandocfilters==1.4.2
parsel==1.5.1
parso==0.6.1
partd==1.1.0
PasteDeploy==1.5.2
path==13.1.0
pathlib2==2.3.5
patsy==0.5.0
pbr==5.4.3
pep8==1.7.1
percy==2.0.2
pexpect==4.8.0
phik==0.9.8
pickleshare==0.7.5
Pillow==7.0.0
pipreqs==0.4.10
pkginfo==1.5.0.1
plaster==1.0
plaster-pastedeploy==0.6
plotly==4.5.1
plotly-express==0.4.0
pluggy==0.13.1
ply==3.11
prettytable==0.7.2
progressbar==2.5
prometheus-client==0.7.1
prompt-toolkit==2.0.9
prophet==0.1.1
protobuf==3.9.0
psutil==5.6.7
psycogreen==1.0.2
psycopg2-binary==2.8.4
ptyprocess==0.6.0
py==1.8.1
py4j==0.10.7
pyasn1==0.4.5
pyasn1-modules==0.2.5
pybind11==2.4.3
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.5
PyDispatcher==2.0.5
pydotplus==2.0.2
pyecharts==1.2.1
pyecharts-jupyter-installer==0.0.3
pyflakes==2.1.1
Pygments==2.4.2
PyHamcrest==1.9.0
PyJWT==1.7.1
pylint==2.3.1
pymongo==3.8.0
pynisher==0.5.0
pyod==0.7.3
pyodbc===4.0.0-unsupported
pyOpenSSL==19.1.0
pyparsing==2.4.6
pyquery==1.4.0
pyramid==1.9.2
pyrsistent==0.15.7
PySocks==1.7.1
pyspark==2.4.4
pystan==2.19.0.0
pytest==5.0.1
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.3.0
pytest-mock==1.10.4
pytest-openfiles==0.3.1
pytest-pylint==0.14.1
pytest-remotedata==0.3.1
pytest-sugar==0.9.2
python-crfsuite==0.9.6
python-dateutil==2.8.0
python-editor==1.0.4
python-pptx==0.6.18
pytz==2019.1
PyWavelets==1.0.3
PyYAML==5.3
pyzmq==18.1.1
QtAwesome==0.6.1
qtconsole==4.5.1
QtPy==1.9.0
queuelib==1.5.0
react==4.3.0
repoze.lru==0.7
requests==2.21.0
requests-oauthlib==1.3.0
retrying==1.3.3
rope==0.16.0
rsa==4.0
ruamel-yaml==0.15.87
s3fs==0.3.4
s3transfer==0.3.3
scikit-bio==0.5.6
scikit-image==0.15.0
scikit-learn==0.23.0
scipy==1.4.1
Scrapy==1.6.0
seaborn==0.9.0
selenium==3.141.0
Send2Trash==1.5.0
service-identity==18.1.0
setuptools-git==1.2
shap==0.32.0
simple-salesforce==0.74.3
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
smart-open==1.9.0
snowballstemmer==2.0.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.9.5
spark==0.2.1
Sphinx==1.8.5
sphinxcontrib-websupport==1.2.0
splinter==0.11.0
spyder==3.3.0
spyder-kernels==0.5.0
SQLAlchemy==1.3.13
statsmodels==0.10.1
stevedore==1.31.0
stopit==1.1.2
sympy==1.4
tables==3.6.1
tabulate==0.8.3
tblib==1.6.0
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.2
textblob==0.15.3
threadpoolctl==2.0.0
toolz==0.10.0
torch==1.1.0
tornado==6.0.3
TPOT==0.10.2
tqdm==4.42.1
traitlets==4.3.3
translationstring==1.3
tsfresh==0.13.0
tslearn==0.1.29
tushare==1.2.50
tweepy==3.8.0
Twisted==19.2.0
twython==3.7.0
typed-ast==1.4.0
typing==3.7.4.1
ua-parser==0.8.0
unicodecsv==0.14.1
update-checker==0.16
urllib3==1.24.3
venusian==1.1.0
vine==1.3.0
virtualenv==16.7.5
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
visitor==0.1.3
w3lib==1.20.0
waitress==1.3.0
wcwidth==0.1.8
webencodings==0.5.1
WebOb==1.8.2
weibo-preprocess-toolkit==1.1.0
Werkzeug==0.15.5
widgetsnbextension==3.4.2
word2vec==0.10.2
wordcloud==1.5.0
wrapt==1.11.2
wurlitzer==2.0.0
xgboost==0.90
xlrd==1.2.0
XlsxWriter==1.2.7
xlwings==0.17.1
xlwt==1.3.0
yapf==0.29.0
yarg==0.1.9
zict==1.0.0
zipp==2.2.0
zope.deprecation==4.3.0
zope.interface==4.6.0
